@using kitchenator.Domain.Concepts.Realestate;
@using kitchenator.Domain.Concepts.Addresses; 
@using kitchenator.Domain.Contracts;

@inject IModelReaderFor<Restaurant> reader;

@if(FilteredRestaurants.Instance is { })
{
    <h3>Choose Restaurant</h3>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Restaurant</th>
                <th>City</th>
                <th class="text-right">Chef Capacity</th>
                <th class="text-right">m&sup2;</th>
                <th class="text-right">Seating Capacity</th>
                <th class="text-right">Monthly Rent</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var restaurant in FilteredRestaurants.Instance)
            {
            <tr @onclick="@(() => SelectedRestaurant.Instance = restaurant)">
                <td>@restaurant.Name</td>
                <td>@restaurant.Address.City.CityName</td>
                <td class="text-right">@restaurant.ChefCapacity</td>
                <td class="text-right">@restaurant.SquareMeters</td>
                <td class="text-right">@restaurant.SeatingCapacity</td>
                <td class="text-right">€@restaurant.MonthlyRent.ToString("### ### ###.00")</td>
            </tr>
            }
        </tbody>
    </table>
}

@code {
    [Parameter]
    public ViewModel<Restaurant> SelectedRestaurant { get; set; }

    [Parameter]
    public ViewModel<Country> CountryFilter { get; set; }

    [Parameter]
    public ViewModel<City> CityFilter { get; set; }

    [Parameter]
    public ViewModel<List<Restaurant>> FilteredRestaurants { get;  set; }

    List<Restaurant> _restaurants;


    protected override async Task OnInitializedAsync()
    {
        _restaurants = (await reader.GetAll()).ToList();
        FilteredRestaurants.Instance = new List<Restaurant>(_restaurants);
        StateHasChanged();

        CityFilter.OnChange     += UpdateFilteredRestaurants;
        CountryFilter.OnChange  += UpdateFilteredRestaurants;
    }

    void UpdateFilteredRestaurants(object sender, Country country)
    {
        if(country is { })
        {
            FilteredRestaurants.Instance = _restaurants.Where(r => r.Address.City.CountryCode.Equals(country.CountryCode)).ToList();
            CityFilter.Instance  = null;
        }
        else
        {                        
            FilteredRestaurants.Instance = new List<Restaurant>(_restaurants);            
        }        
        StateHasChanged();
    }

    private void UpdateFilteredRestaurants(object sender, City city)
    {
        if(CountryFilter.Instance is { })
        {
            FilteredRestaurants.Instance = _restaurants.Where(r => r.Address.City.CountryCode.Equals(CountryFilter.Instance.CountryCode)).ToList();
            if(city is { })
            {
                FilteredRestaurants.Instance = FilteredRestaurants.Instance.Where(r => r.Address.City.Key.Equals(city.Key)).ToList();
            }
        }
        else
        {
            FilteredRestaurants.Instance = new List<Restaurant>(_restaurants);
        }
        StateHasChanged();        
    }

    private static string GuidToShortSweetness(Restaurant restaurant)
    {
        var uglyGuid = restaurant.Id.ToString();
        return $"{uglyGuid.Substring(0, 5)}...";
    }
}
